<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.ciklum.jtt.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.ciklum.jtt.Perspective"
            id="com.ciklum.JTT.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.ciklum.JTT.application"
            name="Jira Time Tracker v.1.0">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="Jira Time Tracker v.1.0">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.ciklum.jtt.TasksView"
            id="com.ciklum.JTT.views.tasks"
            name="Tasks"
            restorable="true">
      </view>
   </extension>

</plugin>
